@import '~bootstrap/scss/bootstrap';

.light,
.dark {
  min-height: 100vh;
}

.light {
  background-color: #f8f9fa;
}

.dark {
  background-color: #212529;
  .nav-link {
    color: #0b67a8;
  }
  .nav-link:hover {
    color: #dcec6f;
  }
  .nav-link:focus {
    color: #dcec6f;
  }
  .navbar-brand:hover {
    color: #dcec6f;
  }

  .form-check-label:hover {
    color: #dcec6f;
  }
  .form-check-label:focus {
    color: #dcec6f;
  }
}
