$caruselWidth: 100%;
$caruselHeight: 50vh;
$textcolor: rgb(11, 103, 168);
$textSize:4em;
$carouselBackground: rgb(206, 230, 236);

.wrapper {
  width: $caruselWidth;
  height: $caruselHeight;
  background-color: $carouselBackground;
}

.caption {
  position: initial !important;
  margin-top:60px;
  
}

.caption h1 {
  color: $textcolor;
}

.caption p {
  font-size: $textSize;
  color: $textcolor;
}
// .carousel-control:active {
//   color: $textcolor;
// }
