$caruselWidth: 100%;
$caruselHeight: 60vh;
$mainColor: #2a0ba8;
$textSize: 4rem;
$carouselBackground: #88f790;

.wrapper {
  width: $caruselWidth;
  height: $caruselHeight;
  background-color: $carouselBackground;
  border: 2px solid $mainColor;
  border-radius: 10px;
}

.caption {
  position: initial !important;
  margin-top: 50px;
}

.caption h1 {
  color: $mainColor;
}

.caption p {
  font-size: $textSize;
  color: $mainColor;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: $mainColor;
}

.navbar-toggler {
  background-color: $carouselBackground;
  border: 2px solid $mainColor;
  border-radius: 10px;
}

