$brandColor: rgb(4, 191, 29);
$brandFontSize: 2.5em;
$mainColor: #0b67a8;

.nav-brand-container {
  border: 2px solid $mainColor;
  border-radius: 10px;
  padding: 10px;
}

.navbar-brand {
  color: $brandColor;
  font-size: $brandFontSize;
  font-weight: 700;
}

.nav-link {
  color: $mainColor;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px 10px;
  margin: 5px;
}

@media (max-width: 576px) {
  .navbar-brand {
    color: $brandColor;
    font-size: 1.2rem;
  }
}
