$brandColor: rgb(4, 191, 29);
$brandFontSize: 3.5vw;
$mainColor: #0b67a8;

.nav-brend-container {
  border: 2px solid $mainColor;
  border-radius: 10px;
  padding: 10px;
}

.navbar-brand {
  color: $brandColor;
  font-size: $brandFontSize;
  font-weight: 700;
  padding-left: 20px;
}

.nav-link {
  color: $mainColor;
  font-size: 1.2em;
  font-weight: 500;
}

@media (max-width: 576px) {
  .navbar-brand {
    color: $brandColor;
    font-size: 1rem;
  }
  
}