$mainColor: #0b67a8;

.form-check-label,
.select_label {
  color: $mainColor;
}

@media (max-width: 576px) {
  .form-select-ranked,
  .select_label {
    width: 100%;
    margin: auto;
    font-size: 0.9rem;
  }
}
