$mainColor: #0b67a8;

.form-check-label {
  color: $mainColor;
}

@media (max-width: 576px) { 
  .d-flex {
    flex-direction: column;
    align-items: start;
  }
  .input-group-text,
  .form-control,
  .form-select {
    width: 100% !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius:  5px !important;
    border-bottom-left-radius:  5px !important;
    border-bottom-right-radius:  5px !important;
    margin-bottom: 10px;
  }
  
  }
  

  
  
  
 

